////
/// @component experience
/// @description Experience component
////

.c-experience {
  padding: 90px 0 60px;
  text-align: center;

  .c-experience__photo {
    border: 0;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 150px;
  } // .c-experience__photo

  .c-experience__photo-image {
    border-radius: 50%;
  } // .c-experience__photo-image

  .c-experience__intro {
    font-size: 1.286em; // 14 > 18
    line-height: 1.667; // 18 > 30
    margin: 0 auto 30px;
    max-width: 600px;
  } // .c-experience__intro

  .c-experience__resume {
    margin: 20px 0 60px;
  } // .c-experience__resume

  .c-experience__list {
    list-style: none;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
    text-align: left;
  } // .c-experience__list

  .c-experience__list-item {
    margin: 0 0 30px;
  } // .c-experience__list-item

  .c-experience__heading {
    font-size: 1.286em; // 14 > 18
    margin: 0;
  } // .c-experience__heading

  .c-experience__meta {
    color: map-get($colors, gray);
    display: block;
    font-size: .857em; // 14 > 12
    margin-bottom: 10px;
  } // .c-experience__meta

  .c-experience__text {
    line-height: 1.714; // 14 > 24
    margin: 0;
  } // .c-experience__text
} // .c-experience
