meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
title #{title}
meta(name='description', content='Hybrid Front-End Developer and UX Critic.')
link(rel='shortcut icon', href='/images/favicon.ico')
meta(name='robots', content='index, follow')
link(rel='canonical', href='http://www.etaylor.io')
meta(name='google-site-verification', content='7EJHcFBLo_tFZ8W2_zkUdTiWwALGaCjwJeki7HFmTXQ')
//- Social
<meta property='og:type' content='website'>
<meta property='og:title' content='Eric Taylor - UX Engineer in Charlotte, NC'>
<meta property='og:description' content='70% Front-end Web Developer and 30% UX Critic. Eric strongly believes in intuitive user-experience, semantic markup, and modular code patterns.'>
<meta property='og:site_name' content='Eric Taylor'>
<meta property='og:url' content='http://www.etaylor.io'>
<meta property='og:image' content='http://www.etaylor.io/images/avatar.jpg'>
<meta name='twitter:card' content='summary'>
<meta name='twitter:site' content='@Accomp'>
<meta name='twitter:title' content='Eric Taylor - UX Engineer in Charlotte, NC'>
<meta name='twitter:description' content='70% Front-end Web Developer and 30% UX Critic. Eric strongly believes in intuitive user-experience, semantic markup, and modular code patterns.'>
<meta name='twitter:image' content='http://www.etaylor.io/images/avatar.jpg'>
<meta name='twitter:url' content='http://www.etaylor.io'>
//- CSS
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i', rel='stylesheet')
link(href='/styles/main.min.css', rel='stylesheet')
