extends ../extends/layout.pug
include ../mixins/sample

block variables
  - var title = "Eric Taylor - UX Engineer";
  - var description = "Hybrid Front-End Developer and UX Critic.";

block content
  div(class='l-wrapper')
    header(class='l-header')
      div(class='u-wrapper')
        a(href='/', title='Refresh webpage')
          h1(class='l-header__title') Eric Taylor
        nav(class='l-header__navigation')
          h2(class='l-header__navigation-title') Primary navigation
          ul(class='l-header__navigation-list')
            li(class='l-header__navigation-list-item')
              a(href='#', title='View Intro section', class='l-header__navigation-link', data-anchor="c-intro") Home
            li(class='l-header__navigation-list-item')
              a(href='#', title='View Portfolio section', class='l-header__navigation-link', data-anchor="c-portfolio") Portfolio
            li(class='l-header__navigation-list-item')
              a(href='#', title='View Experience section', class='l-header__navigation-link', data-anchor="c-experience") Experience
            li(class='l-header__navigation-list-item')
              a(href='#', title='View Contact section', class='l-header__navigation-link', data-anchor="c-social") Contact
        button(class='l-header__toggle-nav js-nav-toggle')
          span(class='l-header__toggle-nav-text') Toggle navigation
    main(class='l-main', id='main')
      div(class='c-intro')
        div(class='u-wrapper')
          h2(class='c-intro__title')
            span(class='c-intro__title-accent') UX Engineer. 
            | <br />Front-End Development. <br />User Experience.
        // Intro image credit: http://imgur.com/gallery/SELjK
      section(class='c-portfolio')
        div(class='u-wrapper')
          h2(class='c-portfolio__title') Portfolio
          p(class='c-portfolio__description') 70% Front-end Web Developer and 30% UX Critic who strongly believes in intuitive user-experience, semantic markup, and modular code patterns.
          p(class='c-portfolio__description') Due to confidentiality agreements, Eric is prohibited to showcase some of his best work. Please reach out for more details if interested.
          ul(class='c-portfolio__list')
            li(class='c-portfolio__list-item')
              a(href='https://www.linkedin.com/pulse/getting-front-end-development-just-do-eric-taylor', title='Read LinkedIn Article', class='c-portfolio-item', target="_blank")
                figure(class='c-portfolio-item__figure')
                  img(src='/images/work_blog-getting-into-fe.jpg', alt='Getting Into Front-End', class='c-portfolio-item__image')
                  figcaption(class='c-portfolio-item__platform')
                    span(class='c-portfolio-item__platform-name') Website
                    i(class='fa fa-file-text-o c-portfolio-item__platform-icon', aria-hidden='true')
                div(class='c-portfolio-item__content')
                  h3(class='c-portfolio-item__content-title') Getting Into Front-End
                  p(class='c-portfolio-item__content-meta') Blog Post
            li(class='c-portfolio__list-item')
              a(href='http://visityouville.com/en/coloniallife/youville', title='Visit Colonial Life Youville website', class='c-portfolio-item', target="_blank")
                figure(class='c-portfolio-item__figure')
                  img(src='/images/work_youville.jpg', alt='Colonial Life Youville', class='c-portfolio-item__image')
                  figcaption(class='c-portfolio-item__platform')
                    span(class='c-portfolio-item__platform-name') Website
                    i(class='fa fa-laptop c-portfolio-item__platform-icon', aria-hidden='true')
                div(class='c-portfolio-item__content')
                  h3(class='c-portfolio-item__content-title') Colonial Life Youville
                  p(class='c-portfolio-item__content-meta') HTML, CSS, JS, UX
            li(class='c-portfolio__list-item')
              a(href='http://d3.transmog.me', title='Visit Diablo Transmog website', class='c-portfolio-item', target="_blank")
                figure(class='c-portfolio-item__figure')
                  img(src='/images/work_d3-transmog.jpg', alt='Diablo Transmog', class='c-portfolio-item__image')
                  figcaption(class='c-portfolio-item__platform')
                    span(class='c-portfolio-item__platform-name') Website
                    i(class='fa fa-laptop c-portfolio-item__platform-icon', aria-hidden='true')
                div(class='c-portfolio-item__content')
                  h3(class='c-portfolio-item__content-title') Diablo Transmog
                  p(class='c-portfolio-item__content-meta') HTML, Sass, JS, Rails, UX, Design
            li(class='c-portfolio__list-item')
              a(href='http://codepen.io/EricTaylor/pen/meJWWM', title='Visit Animated Skull CodePen', class='c-portfolio-item', target="_blank")
                figure(class='c-portfolio-item__figure')
                  img(src='/images/work_skull.jpg', alt='Animated Skull', class='c-portfolio-item__image')
                  figcaption(class='c-portfolio-item__platform')
                    span(class='c-portfolio-item__platform-name') CodePen
                    i(class='fa fa-codepen c-portfolio-item__platform-icon', aria-hidden='true')
                div(class='c-portfolio-item__content')
                  h3(class='c-portfolio-item__content-title') Animated Skull
                  p(class='c-portfolio-item__content-meta') SVG, CSS
            li(class='c-portfolio__list-item')
              a(href='http://codepen.io/EricTaylor/pen/nzEHk', title='Visit Responsive Tables CodePen', class='c-portfolio-item', target="_blank")
                figure(class='c-portfolio-item__figure')
                  img(src='/images/work_responsive-table.jpg', alt='Responsive Tables', class='c-portfolio-item__image')
                  figcaption(class='c-portfolio-item__platform')
                    span(class='c-portfolio-item__platform-name') CodePen
                    i(class='fa fa-codepen c-portfolio-item__platform-icon', aria-hidden='true')
                div(class='c-portfolio-item__content')
                  h3(class='c-portfolio-item__content-title') Responsive Table
                  p(class='c-portfolio-item__content-meta') HTML, CSS, JS
      article(class='c-experience')
        div(class='u-wrapper')
          figure(class='c-experience__photo')
            img(src='/images/avatar.jpg', alt='Eric Taylor', class='c-experience__photo-image')
          h2(class='c-experience__title') Experience
          p(class='c-experience__intro') Eric has over 10 years of professional experience in front-end development and user experience for websites and web applications.
          p(class='c-experience__intro') He continuously strives to improve process-oriented development, as well as leverage latest methodologies to efficiently streamline enterprise level workflow.
          a(href='https://drive.google.com/file/d/0B8ex0KCWYsdOZVB0bDdsWEstNEk/view?usp=sharing', title='View Eric Taylor\s Resume', class='c-button c-experience__resume', target='_blank') View Resum&eacute;
            i(class='fa fa-file-pdf-o c-button__icon', aria-hidden='true')
          ol(class='c-experience__list')
            li(class='c-experience__list-item')
              h3(class='c-experience__heading') PhishMe
              span(class='c-experience__meta') Remote (Aug 2015 &mdash; Present)
              p(class='c-experience__text')
                a(href='http://phishme.com', title='Visit the PhishMe website', target='_blank') PhishMe
                |  is a human-focused phishing defense company. Eric is a Senior Front-End Developer working on their flagship web application. He works closely with various teams in developing new features and supporting internal clients.
            li(class='c-experience__list-item')
              h3(class='c-experience__heading') Publicis Hawkeye
              span(class='c-experience__meta') Charlotte, NC (Aug 2013 &mdash; Aug 2015)
              p(class='c-experience__text')
                a(href='http://www.publicishawkeye.com', title='Visit the Publicis Hawkeye website', target='_blank') Publicis Hawkeye
                |  is a leading advertising agency, providing top-notch solutions for domestic and international brands. Eric was a Senior Interactive Developer responsible for developing a large variety of responsive marketing websites for the world's top brands.
            li(class='c-experience__list-item')
              h3(class='c-experience__heading') Cyberwoven
              span(class='c-experience__meta') Columbia, SC (Feb 2011 &mdash; Aug 2013)
              p(class='c-experience__text')
                a(href='https://www.cyberwoven.com', title='Visit the Cyberwoven website', target='_blank') Cyberwoven
                |  is a premier marketing studio in South Carolina. Eric was a Front-Developer responsible for developing responsive websites for many different brands. He worked closely with other teams and provided UX expertise on many occasions.
            li(class='c-experience__list-item')
              h3(class='c-experience__heading') Colonial Life
              span(class='c-experience__meta') Columbia, SC (May 2009 &mdash; Feb 2011)
              p(class='c-experience__text')
                a(href='http://coloniallife.com', title='Visit the Colonial Life website', target='_blank') Colonial Life
                |  is a voluntary health benefits company. Eric was a User Experience Designer, as part of the marketing team. He was responsible for providing in-house support, managing code for a plethora of internal/external web applications and also internal user experience consultation.
            li(class='c-experience__list-item')
              h3(class='c-experience__heading') Island Oasis
              span(class='c-experience__meta') Walpole, MA (Apr 2008 &mdash; Feb 2009)
              p(class='c-experience__text')
                a(href='https://www.kerryfoodservice.com/brands/island-oasis', title='Visit the Island Oasis website', target='_blank') Island Oasis
                |  is a frozen drink mix vendor. Eric was a Desktop Support Analyst and started out providing hardware/software support to remote employees. He ultimately transitioned into creating and maintaining the company&rsquo;s Intranet.
            li(class='c-experience__list-item')
              h3(class='c-experience__heading') Advanced Field Services
              span(class='c-experience__meta') Plainville, MA (Feb 2005 &mdash; Apr 2008)
              p(class='c-experience__text')
                a(href='http://www.cisgroup.net/news/cis-group-announces-acquisition-of-advanced-field-services', title='View the AFS acquirement publication', target='_blank') Advanced Field Services
                |  was a property insurance assessment company. Eric was a Junior Web Designer, responsible for creating web assets and maintaining various web content.
      section(class='c-social')
        div(class='u-wrapper')
          h2(class='c-social__title') Let's Chat
          ul(class='c-social__list')
            li(class='c-social__list-item')
              a(href='mailto:exaltedsolutions@gmail.com', title='Send an email to Eric', class='c-social__link')
                span(class='c-social__network-name') Email
                i(class='fa fa-envelope-o c-social__network-icon', aria-hidden='true')
            li(class='c-social__list-item')
              a(href='https://github.com/Accomp', title='View Eric\'s Github account', class='c-social__link', target='_blank')
                span(class='c-social__network-name') Github
                i(class='fa fa-github c-social__network-icon', aria-hidden='true')
            li(class='c-social__list-item')
              a(href='https://www.linkedin.com/in/ericbtaylorjr', title='View Eric\'s LinkedIn', class='c-social__link', target='_blank')
                span(class='c-social__network-name') LinkedIn
                i(class='fa fa-linkedin c-social__network-icon', aria-hidden='true')
    footer(class='l-footer')
      div(class='u-wrapper')
        p(role='contentinfo', class='l-footer__text')
          | &copy; 
          script() document.write((new Date()).getFullYear())
          | . Built by 
          a(href='https://www.linkedin.com/in/ericbtaylorjr', title='View Eric Taylor on LinkedIn', target='_blank') Eric Taylor
          | <br />Design by 
          a(href='http://www.kolszewski.com', title='View the portfolio of Kris Olszewski', target='_blank') Kris Olszewski
        