////
/// Global variables
/// @group Globals
/// @author Kris Olszewski
////

/// Horizontal and vertical breakpoints map
/// ---
/// @type Map
/// ---
/// @prop {Map} horizontal - Horizontal breakpoints
/// @prop {Number} horizontal.xs [450px] - Tiny
/// @prop {Number} horizontal.sm [600px] - Small
/// @prop {Number} horizontal.md [750px] - Medium
/// @prop {Number} horizontal.lg [900px] - Large
/// @prop {Number} horizontal.xl [1050px] - Huge
/// @prop {Map} vertical - Vertical breakpoints
/// @prop {Number} vertical.xs [300px] - Tiny
/// @prop {Number} vertical.sm [450px] - Small
/// @prop {Number} vertical.md [600px] - Medium
/// @prop {Number} vertical.lg [750px] - Large
/// @prop {Number} vertical.xl [900px] - Huge

$breakpoints: (
  sm: 640px,
  med: 900px,
  lg: 1400px
);

/// Colors map
/// ---
/// @type Map
/// ---
/// @prop {String} colors.red [#e32118] - Red

$colors: (
  black: #434a54,
  gray: #aab2bd,
  gray--light: #e6e9ed,
  gray--dark: #434a54,
  white: #fff,
  brand-1: #79bd9a
);

/// Variable map: Spacing
/// ---
/// @type Map
/// ---
/// @prop {String} spacing.small [14px] - Small
/// @prop {String} spacing.medium [25px] - Medium
/// @prop {String} spacing.large [40px] - Large

$spacing: (
  sm: 12px,
  med: 30px,
  lg: 42px
);

/// Variable map: Fonts
/// ---
/// @type Map
/// ---
/// @prop {String} fonts.sans-serif [Open Sans] - Open Sans

$fonts: (
  sans-serif: "Open Sans",
);
